<form class="" action="/fish" method="post">
  <label for="family">Family</label>
  <input type="text" name="family" value="">
  <label for="species">Species</label>
  <input type="text" name="species" value="">
  <input type="submit" name="subit" value="Submit">
</form>
